ZGM.WUA/UpdateAPP/Service References/OmpService/OmpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://omp.webservice.nms.hikvision.com" xmlns:ax236="http://dto.omp.webservice.nms.hikvision.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://omp.webservice.nms.hikvision.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>OmpService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.omp.webservice.nms.hikvision.com/xsd">
      <xs:complexType name="VrmRecordScheduleResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vrmRecordScheduleDtos" nillable="true" type="ax236:VrmRecordScheduleDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VrmRecordScheduleDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="cameraId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="cameraIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="delayRecordTime" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="isNeedRecord" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pcnvrServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pcnvrServerIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="preRecordTime" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="recordStyle" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="scheduleTemplateId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="storageIndex" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="storeSpace" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="storeTime" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="streamType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="valid" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vrmId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vrmRecSchedId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NetworkMonitorServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="dataPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nmsId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MatrixInfoResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="matrixFullInfoDtos" nillable="true" type="ax236:MatrixFullInfoDto" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MatrixFullInfoDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="mainMatrix" nillable="true" type="ax236:MatrixDto" />
          <xs:element minOccurs="0" name="matrixDtoAlarmList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="matrixDtoCodeDispenseList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="matrixDtoDecodeList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="matrixDtoEncodeList" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MatrixDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pagIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="port" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tvwallId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="tvwallIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tvwallName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeviceInfoPageResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="allRow" type="xs:int" />
          <xs:element minOccurs="0" name="currentPage" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="deviceInfoDTO" nillable="true" type="ax236:DeviceInfoDTO" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="totalPage" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeviceInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="alarmInCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="alarmOutCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="cameraChanCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="cmsCascadeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="dnsAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dnsPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipChanCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="networkAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="networkPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pagServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pagServerIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="registerType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sequenceIdx" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="talkChanCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userPwd" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CameraInfoResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="allRow" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cameraInfoDTOs" nillable="true" type="ax236:CameraInfoDTO" />
          <xs:element minOccurs="0" name="currentPage" type="xs:int" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" name="totalPage" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CameraInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cameraId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="chanNum" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="cmsCascadeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="deviceIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="recordStyleArr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="regionId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sequenceIdx" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vqdUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xmlRev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VrmServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vrmServerDTOArray" nillable="true" type="ax236:VrmServerDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VrmServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="netZoneId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nvtStorePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="outIpAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rtpTcpBasePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtpUdpBasePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtspPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="searchPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="shareFlag" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="udpPortCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vrmId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="webPort" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VrbServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vrbServerDTOArray" nillable="true" type="ax236:VrbServerDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VrbServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ftpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="httpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rtspPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtspTcpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtspUdpCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtspUdpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="shareFlag" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="snmpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="storePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vrbServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="webServicePort" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VqdServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vqdServerDTOs" nillable="true" type="ax236:VqdServerDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VqdServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xmlRev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StreamServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="streamServerDTOArray" nillable="true" type="ax236:StreamServerDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StreamServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="httpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="outIpAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rtpRtcpPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtpTcpBasePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtpUdpBasePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtspPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="shareFlag" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="streamSvId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="tcpPortCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="udpPortCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ScheduleTemplateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="scheduleTemplateDtos" nillable="true" type="ax236:ScheduleTemplateDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ScheduleTemplateDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="fridaySched" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mondaySched" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saturdaySched" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="schedTemplId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sundaySched" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="thursdaySched" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tuesdaySched" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="wednesdaySched" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegionInfoResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="regionInfoDTOArray" nillable="true" type="ax236:RegionInfoDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cmsCascadeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentRegionId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="regionId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="regionLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sequenceIdx" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PictureServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pictureServerDTOs" nillable="true" type="ax236:PictureServerDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PictureServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xmlRev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PcnvrServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pcnvrServerDTOArray" nillable="true" type="ax236:PcnvrServerDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PcnvrServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="backUp" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pcnvrId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtpTcpBasePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtpUdpBasePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rtspPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="searchPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="udpPortCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="useSoftDog" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vrmId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PagServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pagServerDTOArray" nillable="true" type="ax236:PagServerDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PagServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="dataPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ehomeIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ehomePort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pagServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="picPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MonitorScreenGroupResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monitorScreenGroupDTOs" nillable="true" type="ax236:MonitorScreenGroupDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MonitorScreenGroupDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="configPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="proxyPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xmlRev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="KeyboardServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="keyboardServerDTOs" nillable="true" type="ax236:KeyboardServerDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="KeyboardServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="xmlRev" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InterAreaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="interAreaDTOArray" nillable="true" type="ax236:InterAreaDTO" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InterAreaDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="clientPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="heartbeatTime" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="interAreaId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isRoute" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="mediaIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mediaPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="netZoneId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="timeOut" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecodeServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="decodeServerDTOArray" nillable="true" type="ax236:DecodeServerDTO" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecodeServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="configPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="dataPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="decodeSvrId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="workMod" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecodeDeviceResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="decodeDeviceDTOArray" nillable="true" type="ax236:DecodeDeviceDTO" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DecodeDeviceDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="decodeDevId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="monitorScreenGroupId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="port" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ControlUnitResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="controlUnitDTOs" nillable="true" type="ax236:ControlUnitDTO" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ControlUnitDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cmsCascadeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sequenceIdx" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="unitLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CascadeCameraStatusResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cascadeCameraStatusDTOs" nillable="true" type="ax236:CascadeCameraStatusDTO" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CascadeCameraStatusDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cameraIndexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cameraStatus" type="xs:int" />
          <xs:element minOccurs="0" name="cascadeCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AlarmServerResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="alarmServerDTOArray" nillable="true" type="ax236:AlarmServerDTO" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AlarmServerDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="alarmSvId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="controlUnitId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ctrlPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="indexCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intRev1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="intRev2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ipAddr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="netAgentPort" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pictureServerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="smsCom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strRev2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strXmlRev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="updateTime" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax237="http://dto.omp.webservice.nms.hikvision.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://omp.webservice.nms.hikvision.com">
      <xs:import namespace="http://dto.omp.webservice.nms.hikvision.com/xsd" />
      <xs:element name="getVrmRecordScheduleByCameraIndexCodes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="cameraIndexCodes" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVrmRecordScheduleByCameraIndexCodesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:VrmRecordScheduleResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNetworkMonitorServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:NetworkMonitorServerDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMatrixInfoByIndexCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="matrixIndexCode" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMatrixInfoByIndexCodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:MatrixInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDeviceInfoPage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="offset" type="xs:int" />
            <xs:element minOccurs="0" name="length" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDeviceInfoPageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:DeviceInfoPageResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCameraInfoPage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="offset" type="xs:int" />
            <xs:element minOccurs="0" name="length" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCameraInfoPageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:CameraInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllVrmServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:VrmServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllVrbServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:VrbServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllVqdServerResultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:VqdServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllStreamServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:StreamServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllScheduleTemplateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:ScheduleTemplateResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllRegionInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:RegionInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllPictureServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:PictureServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllPcnvrServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:PcnvrServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllPagServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:PagServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllMonitorScreenGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:MonitorScreenGroupResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllMatrixInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:MatrixInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllKeyboardServerResultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:KeyboardServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllInterAreaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:InterAreaResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllDecodeServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:DecodeServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllDecodeDeviceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:DecodeDeviceResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllControlCenterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:ControlUnitResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllCascadeCameraStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:CascadeCameraStatusResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllAlarmServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax237:AlarmServerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getMatrixInfoByIndexCodeRequest">
    <wsdl:part name="parameters" element="ns:getMatrixInfoByIndexCode" />
  </wsdl:message>
  <wsdl:message name="getMatrixInfoByIndexCodeResponse">
    <wsdl:part name="parameters" element="ns:getMatrixInfoByIndexCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllInterAreaRequest" />
  <wsdl:message name="getAllInterAreaResponse">
    <wsdl:part name="parameters" element="ns:getAllInterAreaResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPcnvrServerRequest" />
  <wsdl:message name="getAllPcnvrServerResponse">
    <wsdl:part name="parameters" element="ns:getAllPcnvrServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllRegionInfoRequest" />
  <wsdl:message name="getAllRegionInfoResponse">
    <wsdl:part name="parameters" element="ns:getAllRegionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getVrmRecordScheduleByCameraIndexCodesRequest">
    <wsdl:part name="parameters" element="ns:getVrmRecordScheduleByCameraIndexCodes" />
  </wsdl:message>
  <wsdl:message name="getVrmRecordScheduleByCameraIndexCodesResponse">
    <wsdl:part name="parameters" element="ns:getVrmRecordScheduleByCameraIndexCodesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPagServerRequest" />
  <wsdl:message name="getAllPagServerResponse">
    <wsdl:part name="parameters" element="ns:getAllPagServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllScheduleTemplateRequest" />
  <wsdl:message name="getAllScheduleTemplateResponse">
    <wsdl:part name="parameters" element="ns:getAllScheduleTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVrmServerRequest" />
  <wsdl:message name="getAllVrmServerResponse">
    <wsdl:part name="parameters" element="ns:getAllVrmServerResponse" />
  </wsdl:message>
  <wsdl:message name="getDeviceInfoPageRequest">
    <wsdl:part name="parameters" element="ns:getDeviceInfoPage" />
  </wsdl:message>
  <wsdl:message name="getDeviceInfoPageResponse">
    <wsdl:part name="parameters" element="ns:getDeviceInfoPageResponse" />
  </wsdl:message>
  <wsdl:message name="getAllControlCenterRequest" />
  <wsdl:message name="getAllControlCenterResponse">
    <wsdl:part name="parameters" element="ns:getAllControlCenterResponse" />
  </wsdl:message>
  <wsdl:message name="getAllKeyboardServerResultRequest" />
  <wsdl:message name="getAllKeyboardServerResultResponse">
    <wsdl:part name="parameters" element="ns:getAllKeyboardServerResultResponse" />
  </wsdl:message>
  <wsdl:message name="getCameraInfoPageRequest">
    <wsdl:part name="parameters" element="ns:getCameraInfoPage" />
  </wsdl:message>
  <wsdl:message name="getCameraInfoPageResponse">
    <wsdl:part name="parameters" element="ns:getCameraInfoPageResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPictureServerRequest" />
  <wsdl:message name="getAllPictureServerResponse">
    <wsdl:part name="parameters" element="ns:getAllPictureServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllMatrixInfoRequest" />
  <wsdl:message name="getAllMatrixInfoResponse">
    <wsdl:part name="parameters" element="ns:getAllMatrixInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAllDecodeDeviceRequest" />
  <wsdl:message name="getAllDecodeDeviceResponse">
    <wsdl:part name="parameters" element="ns:getAllDecodeDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="getNetworkMonitorServerRequest" />
  <wsdl:message name="getNetworkMonitorServerResponse">
    <wsdl:part name="parameters" element="ns:getNetworkMonitorServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllMonitorScreenGroupRequest" />
  <wsdl:message name="getAllMonitorScreenGroupResponse">
    <wsdl:part name="parameters" element="ns:getAllMonitorScreenGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getAllStreamServerRequest" />
  <wsdl:message name="getAllStreamServerResponse">
    <wsdl:part name="parameters" element="ns:getAllStreamServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVrbServerRequest" />
  <wsdl:message name="getAllVrbServerResponse">
    <wsdl:part name="parameters" element="ns:getAllVrbServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCascadeCameraStatusRequest" />
  <wsdl:message name="getAllCascadeCameraStatusResponse">
    <wsdl:part name="parameters" element="ns:getAllCascadeCameraStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getAllDecodeServerRequest" />
  <wsdl:message name="getAllDecodeServerResponse">
    <wsdl:part name="parameters" element="ns:getAllDecodeServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAlarmServerRequest" />
  <wsdl:message name="getAllAlarmServerResponse">
    <wsdl:part name="parameters" element="ns:getAllAlarmServerResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVqdServerResultRequest" />
  <wsdl:message name="getAllVqdServerResultResponse">
    <wsdl:part name="parameters" element="ns:getAllVqdServerResultResponse" />
  </wsdl:message>
  <wsdl:portType name="OmpServicePortType">
    <wsdl:operation name="getMatrixInfoByIndexCode">
      <wsdl:input wsaw:Action="urn:getMatrixInfoByIndexCode" message="ns:getMatrixInfoByIndexCodeRequest" />
      <wsdl:output wsaw:Action="urn:getMatrixInfoByIndexCodeResponse" message="ns:getMatrixInfoByIndexCodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllInterArea">
      <wsdl:input wsaw:Action="urn:getAllInterArea" message="ns:getAllInterAreaRequest" />
      <wsdl:output wsaw:Action="urn:getAllInterAreaResponse" message="ns:getAllInterAreaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllPcnvrServer">
      <wsdl:input wsaw:Action="urn:getAllPcnvrServer" message="ns:getAllPcnvrServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllPcnvrServerResponse" message="ns:getAllPcnvrServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllRegionInfo">
      <wsdl:input wsaw:Action="urn:getAllRegionInfo" message="ns:getAllRegionInfoRequest" />
      <wsdl:output wsaw:Action="urn:getAllRegionInfoResponse" message="ns:getAllRegionInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVrmRecordScheduleByCameraIndexCodes">
      <wsdl:input wsaw:Action="urn:getVrmRecordScheduleByCameraIndexCodes" message="ns:getVrmRecordScheduleByCameraIndexCodesRequest" />
      <wsdl:output wsaw:Action="urn:getVrmRecordScheduleByCameraIndexCodesResponse" message="ns:getVrmRecordScheduleByCameraIndexCodesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllPagServer">
      <wsdl:input wsaw:Action="urn:getAllPagServer" message="ns:getAllPagServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllPagServerResponse" message="ns:getAllPagServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllScheduleTemplate">
      <wsdl:input wsaw:Action="urn:getAllScheduleTemplate" message="ns:getAllScheduleTemplateRequest" />
      <wsdl:output wsaw:Action="urn:getAllScheduleTemplateResponse" message="ns:getAllScheduleTemplateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllVrmServer">
      <wsdl:input wsaw:Action="urn:getAllVrmServer" message="ns:getAllVrmServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllVrmServerResponse" message="ns:getAllVrmServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDeviceInfoPage">
      <wsdl:input wsaw:Action="urn:getDeviceInfoPage" message="ns:getDeviceInfoPageRequest" />
      <wsdl:output wsaw:Action="urn:getDeviceInfoPageResponse" message="ns:getDeviceInfoPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllControlCenter">
      <wsdl:input wsaw:Action="urn:getAllControlCenter" message="ns:getAllControlCenterRequest" />
      <wsdl:output wsaw:Action="urn:getAllControlCenterResponse" message="ns:getAllControlCenterResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllKeyboardServerResult">
      <wsdl:input wsaw:Action="urn:getAllKeyboardServerResult" message="ns:getAllKeyboardServerResultRequest" />
      <wsdl:output wsaw:Action="urn:getAllKeyboardServerResultResponse" message="ns:getAllKeyboardServerResultResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCameraInfoPage">
      <wsdl:input wsaw:Action="urn:getCameraInfoPage" message="ns:getCameraInfoPageRequest" />
      <wsdl:output wsaw:Action="urn:getCameraInfoPageResponse" message="ns:getCameraInfoPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllPictureServer">
      <wsdl:input wsaw:Action="urn:getAllPictureServer" message="ns:getAllPictureServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllPictureServerResponse" message="ns:getAllPictureServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllMatrixInfo">
      <wsdl:input wsaw:Action="urn:getAllMatrixInfo" message="ns:getAllMatrixInfoRequest" />
      <wsdl:output wsaw:Action="urn:getAllMatrixInfoResponse" message="ns:getAllMatrixInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllDecodeDevice">
      <wsdl:input wsaw:Action="urn:getAllDecodeDevice" message="ns:getAllDecodeDeviceRequest" />
      <wsdl:output wsaw:Action="urn:getAllDecodeDeviceResponse" message="ns:getAllDecodeDeviceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNetworkMonitorServer">
      <wsdl:input wsaw:Action="urn:getNetworkMonitorServer" message="ns:getNetworkMonitorServerRequest" />
      <wsdl:output wsaw:Action="urn:getNetworkMonitorServerResponse" message="ns:getNetworkMonitorServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllMonitorScreenGroup">
      <wsdl:input wsaw:Action="urn:getAllMonitorScreenGroup" message="ns:getAllMonitorScreenGroupRequest" />
      <wsdl:output wsaw:Action="urn:getAllMonitorScreenGroupResponse" message="ns:getAllMonitorScreenGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllStreamServer">
      <wsdl:input wsaw:Action="urn:getAllStreamServer" message="ns:getAllStreamServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllStreamServerResponse" message="ns:getAllStreamServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllVrbServer">
      <wsdl:input wsaw:Action="urn:getAllVrbServer" message="ns:getAllVrbServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllVrbServerResponse" message="ns:getAllVrbServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllCascadeCameraStatus">
      <wsdl:input wsaw:Action="urn:getAllCascadeCameraStatus" message="ns:getAllCascadeCameraStatusRequest" />
      <wsdl:output wsaw:Action="urn:getAllCascadeCameraStatusResponse" message="ns:getAllCascadeCameraStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllDecodeServer">
      <wsdl:input wsaw:Action="urn:getAllDecodeServer" message="ns:getAllDecodeServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllDecodeServerResponse" message="ns:getAllDecodeServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmServer">
      <wsdl:input wsaw:Action="urn:getAllAlarmServer" message="ns:getAllAlarmServerRequest" />
      <wsdl:output wsaw:Action="urn:getAllAlarmServerResponse" message="ns:getAllAlarmServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllVqdServerResult">
      <wsdl:input wsaw:Action="urn:getAllVqdServerResult" message="ns:getAllVqdServerResultRequest" />
      <wsdl:output wsaw:Action="urn:getAllVqdServerResultResponse" message="ns:getAllVqdServerResultResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OmpServiceSoap11Binding" type="ns:OmpServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMatrixInfoByIndexCode">
      <soap:operation soapAction="urn:getMatrixInfoByIndexCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllInterArea">
      <soap:operation soapAction="urn:getAllInterArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPcnvrServer">
      <soap:operation soapAction="urn:getAllPcnvrServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVrmRecordScheduleByCameraIndexCodes">
      <soap:operation soapAction="urn:getVrmRecordScheduleByCameraIndexCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRegionInfo">
      <soap:operation soapAction="urn:getAllRegionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPagServer">
      <soap:operation soapAction="urn:getAllPagServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeviceInfoPage">
      <soap:operation soapAction="urn:getDeviceInfoPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVrmServer">
      <soap:operation soapAction="urn:getAllVrmServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllScheduleTemplate">
      <soap:operation soapAction="urn:getAllScheduleTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllControlCenter">
      <soap:operation soapAction="urn:getAllControlCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllKeyboardServerResult">
      <soap:operation soapAction="urn:getAllKeyboardServerResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPictureServer">
      <soap:operation soapAction="urn:getAllPictureServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCameraInfoPage">
      <soap:operation soapAction="urn:getCameraInfoPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDecodeDevice">
      <soap:operation soapAction="urn:getAllDecodeDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMatrixInfo">
      <soap:operation soapAction="urn:getAllMatrixInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNetworkMonitorServer">
      <soap:operation soapAction="urn:getNetworkMonitorServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMonitorScreenGroup">
      <soap:operation soapAction="urn:getAllMonitorScreenGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVrbServer">
      <soap:operation soapAction="urn:getAllVrbServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStreamServer">
      <soap:operation soapAction="urn:getAllStreamServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCascadeCameraStatus">
      <soap:operation soapAction="urn:getAllCascadeCameraStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDecodeServer">
      <soap:operation soapAction="urn:getAllDecodeServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmServer">
      <soap:operation soapAction="urn:getAllAlarmServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVqdServerResult">
      <soap:operation soapAction="urn:getAllVqdServerResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OmpServiceSoap12Binding" type="ns:OmpServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMatrixInfoByIndexCode">
      <soap12:operation soapAction="urn:getMatrixInfoByIndexCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllInterArea">
      <soap12:operation soapAction="urn:getAllInterArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPcnvrServer">
      <soap12:operation soapAction="urn:getAllPcnvrServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVrmRecordScheduleByCameraIndexCodes">
      <soap12:operation soapAction="urn:getVrmRecordScheduleByCameraIndexCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRegionInfo">
      <soap12:operation soapAction="urn:getAllRegionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPagServer">
      <soap12:operation soapAction="urn:getAllPagServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeviceInfoPage">
      <soap12:operation soapAction="urn:getDeviceInfoPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVrmServer">
      <soap12:operation soapAction="urn:getAllVrmServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllScheduleTemplate">
      <soap12:operation soapAction="urn:getAllScheduleTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllControlCenter">
      <soap12:operation soapAction="urn:getAllControlCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllKeyboardServerResult">
      <soap12:operation soapAction="urn:getAllKeyboardServerResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPictureServer">
      <soap12:operation soapAction="urn:getAllPictureServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCameraInfoPage">
      <soap12:operation soapAction="urn:getCameraInfoPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDecodeDevice">
      <soap12:operation soapAction="urn:getAllDecodeDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMatrixInfo">
      <soap12:operation soapAction="urn:getAllMatrixInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNetworkMonitorServer">
      <soap12:operation soapAction="urn:getNetworkMonitorServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMonitorScreenGroup">
      <soap12:operation soapAction="urn:getAllMonitorScreenGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVrbServer">
      <soap12:operation soapAction="urn:getAllVrbServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStreamServer">
      <soap12:operation soapAction="urn:getAllStreamServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCascadeCameraStatus">
      <soap12:operation soapAction="urn:getAllCascadeCameraStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDecodeServer">
      <soap12:operation soapAction="urn:getAllDecodeServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmServer">
      <soap12:operation soapAction="urn:getAllAlarmServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVqdServerResult">
      <soap12:operation soapAction="urn:getAllVqdServerResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OmpService">
    <wsdl:port name="OmpServiceHttpSoap11Endpoint" binding="ns:OmpServiceSoap11Binding">
      <soap:address location="http://172.172.100.10:80/vms/services/OmpService.OmpServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="OmpServiceHttpSoap12Endpoint" binding="ns:OmpServiceSoap12Binding">
      <soap12:address location="http://172.172.100.10:80/vms/services/OmpService.OmpServiceHttpSoap12Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>