ZGM.Manager/Common/Service References/ServiceSoap/ZHCGWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ZHCGWebService/zhcgforphone" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="ZHCGWebService/zhcgforphone" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="ZHCGWebService/zhcgforphone">
      <s:element name="GetTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skipCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="takeCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="isProcess" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TaskFeedBack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="disposal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="medias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TaskFeedBackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TaskFeedBackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHydrantsByPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="skipCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="takeCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHydrantsByPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHydrantsByPageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAbnormalHydrants">
        <s:complexType />
      </s:element>
      <s:element name="GetAbnormalHydrantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAbnormalHydrantsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHydrantData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eid" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHydrantDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHydrantDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTaskSoapIn">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="GetTaskSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="GetMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetMedia" />
  </wsdl:message>
  <wsdl:message name="GetMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaResponse" />
  </wsdl:message>
  <wsdl:message name="TaskFeedBackSoapIn">
    <wsdl:part name="parameters" element="tns:TaskFeedBack" />
  </wsdl:message>
  <wsdl:message name="TaskFeedBackSoapOut">
    <wsdl:part name="parameters" element="tns:TaskFeedBackResponse" />
  </wsdl:message>
  <wsdl:message name="GetHydrantsByPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetHydrantsByPage" />
  </wsdl:message>
  <wsdl:message name="GetHydrantsByPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetHydrantsByPageResponse" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHydrantsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAbnormalHydrants" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHydrantsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAbnormalHydrantsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHydrantDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetHydrantData" />
  </wsdl:message>
  <wsdl:message name="GetHydrantDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetHydrantDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="skipCount" type="s:string" />
    <wsdl:part name="takeCount" type="s:string" />
    <wsdl:part name="isProcess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTaskHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpGetIn">
    <wsdl:part name="taskNum" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TaskFeedBackHttpGetIn">
    <wsdl:part name="disposal" type="s:string" />
    <wsdl:part name="medias" type="s:string" />
    <wsdl:part name="user" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TaskFeedBackHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantsByPageHttpGetIn">
    <wsdl:part name="skipCount" type="s:string" />
    <wsdl:part name="takeCount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantsByPageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHydrantsHttpGetIn" />
  <wsdl:message name="GetAbnormalHydrantsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantDataHttpGetIn">
    <wsdl:part name="eid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTaskHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="skipCount" type="s:string" />
    <wsdl:part name="takeCount" type="s:string" />
    <wsdl:part name="isProcess" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTaskHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpPostIn">
    <wsdl:part name="taskNum" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMediaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TaskFeedBackHttpPostIn">
    <wsdl:part name="disposal" type="s:string" />
    <wsdl:part name="medias" type="s:string" />
    <wsdl:part name="user" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TaskFeedBackHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantsByPageHttpPostIn">
    <wsdl:part name="skipCount" type="s:string" />
    <wsdl:part name="takeCount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantsByPageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHydrantsHttpPostIn" />
  <wsdl:message name="GetAbnormalHydrantsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantDataHttpPostIn">
    <wsdl:part name="eid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHydrantDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ZHCGWebServiceSoap">
    <wsdl:operation name="GetTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户编号分页获取案件</wsdl:documentation>
      <wsdl:input message="tns:GetTaskSoapIn" />
      <wsdl:output message="tns:GetTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据任务号和附件类型获取附件</wsdl:documentation>
      <wsdl:input message="tns:GetMediaSoapIn" />
      <wsdl:output message="tns:GetMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">案件反馈接口</wsdl:documentation>
      <wsdl:input message="tns:TaskFeedBackSoapIn" />
      <wsdl:output message="tns:TaskFeedBackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">分页获取消防栓</wsdl:documentation>
      <wsdl:input message="tns:GetHydrantsByPageSoapIn" />
      <wsdl:output message="tns:GetHydrantsByPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取异常消防栓列表</wsdl:documentation>
      <wsdl:input message="tns:GetAbnormalHydrantsSoapIn" />
      <wsdl:output message="tns:GetAbnormalHydrantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取消防栓最新监测数据</wsdl:documentation>
      <wsdl:input message="tns:GetHydrantDataSoapIn" />
      <wsdl:output message="tns:GetHydrantDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ZHCGWebServiceHttpGet">
    <wsdl:operation name="GetTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户编号分页获取案件</wsdl:documentation>
      <wsdl:input message="tns:GetTaskHttpGetIn" />
      <wsdl:output message="tns:GetTaskHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据任务号和附件类型获取附件</wsdl:documentation>
      <wsdl:input message="tns:GetMediaHttpGetIn" />
      <wsdl:output message="tns:GetMediaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">案件反馈接口</wsdl:documentation>
      <wsdl:input message="tns:TaskFeedBackHttpGetIn" />
      <wsdl:output message="tns:TaskFeedBackHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">分页获取消防栓</wsdl:documentation>
      <wsdl:input message="tns:GetHydrantsByPageHttpGetIn" />
      <wsdl:output message="tns:GetHydrantsByPageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取异常消防栓列表</wsdl:documentation>
      <wsdl:input message="tns:GetAbnormalHydrantsHttpGetIn" />
      <wsdl:output message="tns:GetAbnormalHydrantsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取消防栓最新监测数据</wsdl:documentation>
      <wsdl:input message="tns:GetHydrantDataHttpGetIn" />
      <wsdl:output message="tns:GetHydrantDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ZHCGWebServiceHttpPost">
    <wsdl:operation name="GetTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户编号分页获取案件</wsdl:documentation>
      <wsdl:input message="tns:GetTaskHttpPostIn" />
      <wsdl:output message="tns:GetTaskHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据任务号和附件类型获取附件</wsdl:documentation>
      <wsdl:input message="tns:GetMediaHttpPostIn" />
      <wsdl:output message="tns:GetMediaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">案件反馈接口</wsdl:documentation>
      <wsdl:input message="tns:TaskFeedBackHttpPostIn" />
      <wsdl:output message="tns:TaskFeedBackHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">分页获取消防栓</wsdl:documentation>
      <wsdl:input message="tns:GetHydrantsByPageHttpPostIn" />
      <wsdl:output message="tns:GetHydrantsByPageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取异常消防栓列表</wsdl:documentation>
      <wsdl:input message="tns:GetAbnormalHydrantsHttpPostIn" />
      <wsdl:output message="tns:GetAbnormalHydrantsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取消防栓最新监测数据</wsdl:documentation>
      <wsdl:input message="tns:GetHydrantDataHttpPostIn" />
      <wsdl:output message="tns:GetHydrantDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZHCGWebServiceSoap" type="tns:ZHCGWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="ZHCGWebService/zhcgforphone/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <soap:operation soapAction="ZHCGWebService/zhcgforphone/GetMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <soap:operation soapAction="ZHCGWebService/zhcgforphone/TaskFeedBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <soap:operation soapAction="ZHCGWebService/zhcgforphone/GetHydrantsByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <soap:operation soapAction="ZHCGWebService/zhcgforphone/GetAbnormalHydrants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <soap:operation soapAction="ZHCGWebService/zhcgforphone/GetHydrantData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHCGWebServiceSoap12" type="tns:ZHCGWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTask">
      <soap12:operation soapAction="ZHCGWebService/zhcgforphone/GetTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <soap12:operation soapAction="ZHCGWebService/zhcgforphone/GetMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <soap12:operation soapAction="ZHCGWebService/zhcgforphone/TaskFeedBack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <soap12:operation soapAction="ZHCGWebService/zhcgforphone/GetHydrantsByPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <soap12:operation soapAction="ZHCGWebService/zhcgforphone/GetAbnormalHydrants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <soap12:operation soapAction="ZHCGWebService/zhcgforphone/GetHydrantData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHCGWebServiceHttpGet" type="tns:ZHCGWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTask">
      <http:operation location="/GetTask" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <http:operation location="/GetMedia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <http:operation location="/TaskFeedBack" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <http:operation location="/GetHydrantsByPage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <http:operation location="/GetAbnormalHydrants" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <http:operation location="/GetHydrantData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHCGWebServiceHttpPost" type="tns:ZHCGWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTask">
      <http:operation location="/GetTask" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <http:operation location="/GetMedia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaskFeedBack">
      <http:operation location="/TaskFeedBack" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantsByPage">
      <http:operation location="/GetHydrantsByPage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbnormalHydrants">
      <http:operation location="/GetAbnormalHydrants" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHydrantData">
      <http:operation location="/GetHydrantData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZHCGWebService">
    <wsdl:port name="ZHCGWebServiceSoap" binding="tns:ZHCGWebServiceSoap">
      <soap:address location="http://172.16.2.123/ZHCGWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ZHCGWebServiceSoap12" binding="tns:ZHCGWebServiceSoap12">
      <soap12:address location="http://172.16.2.123/ZHCGWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ZHCGWebServiceHttpGet" binding="tns:ZHCGWebServiceHttpGet">
      <http:address location="http://172.16.2.123/ZHCGWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ZHCGWebServiceHttpPost" binding="tns:ZHCGWebServiceHttpPost">
      <http:address location="http://172.16.2.123/ZHCGWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>