NBZGM.PLE/BLL/Web References/WebSendSMSService/SendSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SRC_TELE_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DEST_TELE_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MSG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessagesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessages" />
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSMSSoap">
    <wsdl:operation name="SendMessages">
      <wsdl:input message="tns:SendMessagesSoapIn" />
      <wsdl:output message="tns:SendMessagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMSSoap" type="tns:SendSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessages">
      <soap:operation soapAction="http://tempuri.org/SendMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSSoap12" type="tns:SendSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessages">
      <soap12:operation soapAction="http://tempuri.org/SendMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMS">
    <wsdl:port name="SendSMSSoap" binding="tns:SendSMSSoap">
      <soap:address location="http://10.1.1.30:1004/SendSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSSoap12" binding="tns:SendSMSSoap12">
      <soap12:address location="http://10.1.1.30:1004/SendSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>